[build]
# target = "loongarch64-unknown-linux-gnu"
target = "riscv64gc-unknown-none-elf"

[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]

[target.loongarch64-unknown-none]
rustflags = [
    "-Clink-arg=-Tsrc/hal/arch/loongarch64/linker.ld",
    "-Clink-arg=-nostdlib",
    "-Clink-arg=-static",
    "-Cforce-frame-pointers=yes",
]
# Add "-Ctarget-feature=-unaligned-access" when ready.
#linker = "loongarch64-linux-gnu-gcc"

[target.riscv64gc-unknown-none-elf]
rustflags = [
    "-Clink-arg=-Tsrc/hal/arch/riscv/linker.ld",
    "-Cforce-frame-pointers=yes",
]

#[source.crates-io]
#replace-with = "vendored-sources"

#[source.vendored-sources]
#directory = "vendor"

[source.crates-io]
replace-with = 'rsproxy-sparse'

[source.rsproxy-sparse]
registry = "sparse+https://rsproxy.cn/index/"